* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
} 

/* Header Starts */

.head1 {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#head2 {
    margin: 8px;
}

.head3_1 {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.head4_1 {
    font-size: 1rem;
    color: white;
}

.border {
    border: 1.2px solid transparent;
}

.border:hover {
    border: 1.2px solid white;
}

.head5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head5_1 {
    height: 40px;
    width: 55px;
    text-align: center;
    background-color:#f3f3f3;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
}

.head5_1:hover {
    background-color: lightgray;
}

.head5_2 {
    height: 38px;
    width: 650px;
    border: none;
    font-size: 1.2rem;
}

.head5_3 {
    height: 40px;
    width: 50px; 
    background-color:#febd68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    font-size: 1.2rem;
}

.head5_3:hover {
    background-color: orange;
}

.head5:hover {
    border: 4px solid orange;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
   
.head6_1 {
    font-size: 12px;
}

.head6_2 {
    font-size: 14px;
} 

.head7 {
    font-size: 14px;
}

.header2 {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #222f3d;
}

.all {
    font-weight: 700;
    font-size: 14px;
}

.ops {
    width: 80%;
}

.ops p {
    display: inline; 
    font-size: 14px;
    margin-left: 10px;
    border: 1.2px solid transparent;
}

.ops p:hover {
    border: 1.2px solid white;
}

/* Header Ends */

/* Main Starts */

.main0 {
    background-color: #e2e7e6;
}

.main1 {
    height: 350px;
    width: 98%;
    margin-left: 15.5px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.main2 {
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 95%;
    margin-left: 40px;
    margin-bottom: 30px;
}

.main2 a {
    color: #007185;
}

.main3 {
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box_content {
    margin-left: 10px;
    margin-right: 10px;
}

#name1 {
    font-size:small;
}

.image1 {
    height: 116px;
    background-repeat: no-repeat; 
    background-position: left, right;
}

.box_content p {
    color: #007185;
    margin-top: 10px;
    font-size: 14px;
}

#image2 {
    height: 300px;
    background-repeat: no-repeat; 
}

/* Main Ends */

/* Footer starts */

footer {
    margin-top: 15px;
}

.footer1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

a:hover {
    text-decoration: underline;
}

.footer3 {
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 8px;
}

.footer4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
}

.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copy {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}